# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 **Objectives:**
 - R
 - SQL
 - Java
 - Julia
 - Scala

Some of the popular languages that data Scientists use ar

1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Scipy
3. Pandas

| Data Scienice Tools|
|--------------------|
|Rstudio|
|Apache Spark|
|Apache Hadoop|

### Below are few examples of evaluating arithmetic expressions in Python

This a Simple arithmetic expression to multiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [3]:
200/60

3.3333333333333335

## Author
Mohammad Ismailzada